* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header { /*cabeçalho*/
    background-color: #fff;/*cor de fundo*/
    padding: 16px;/*espaço entre itens*/
    color: blue;/*cor do texto*/
    display: flex;/*posicionamento do diplay*/
    border-bottom: 16px solid darkgray;/*cor da bora do botão*/
    justify-content: center;/*centralizando texto*/
    font-style: italic;/*stilo da fonte em itálico*/
}

header button {/*botão do cabeçalho*/
    margin-left: 16px;/*margem a esquerda do botão*/
}
.container img {/*imagem dentro do .container*/
    max-width: 30px;/*definindo tamanho máximo do elemento*/
}

form {
    background-color: #fff;
    padding: 24px 0;
    text-align: center;
}